[Unit]
Description=ergoFACE service
Requires=bluetooth.service
After=bluetooth.service
[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/ergoFACE/src/thread.py
[Install]
WantedBy=multi-user.target
